body {
    font-family: monospace;
    background-color: rgb(59,67,76) !important;
    background: url("./files/bg-pattern.png");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.navbar {
    background-color: rgb(0, 0, 0);
    padding: 1em;
}

div.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: row;
}
  
div.navbar li {
    float: left;
    display: block;
    align-items: center;
    height: 100% !important;
    color:rgb(144, 162, 181);
    font-size: 1.5em;
}

div.navbar li.rnav a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em 0.5em 1em;
    transition-duration: 0.4s;
}
  
div.navbar li.rnav a:hover {
    background-color: #333;
    color:blanchedalmond;
    font-size: 1.1em;
    vertical-align: middle;
}

.nav-logo {
    float: left;
    max-height: 2em;
    padding-right: 1em;
}

.row {
    display: flex;
  }
  
.column1 {
    flex: 20%;
    display: flex;
    justify-content: center;
}
.column2 {
    flex: 80%;
    display: flex;
}

.typewriter {
    width: 15em;
}

.typewriter h1 {
    color: #fff;
    font-family: monospace;
    float:left;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid lightblue; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    animation: 
      typing 2.3s steps(30, end),
      blink-caret 1s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 180% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: lightblue }
  }


div.section {
    background-color: #333;
    margin: 0;
    margin-top: 1em;
    padding: 2em 2em;
    color:white;
    overflow: hidden;
    transition-duration: 1s;
}

div.section:hover {
    background-color: #252525;
}


div.section p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2em;
    color:blanchedalmond;
}
div.section a {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2em;
    color: lightcyan;
}
div.section a:hover {
    color: lightgoldenrodyellow;
}

div.section ul li {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2em;
    color:blanchedalmond;
}

.biopic {
    float:left;
    max-height: 20em;
    width: auto;
    margin: 2em;
    border-radius: 1em;
    border-width: 0.6em;
    border-color:blanchedalmond;
    border-style:double;
}

.s-header {
    color: #e8e8e8;
    font-size: 3em;
    text-align: center;
}
.s-subtitle {
    color: #e8e8e8;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 1em;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.viewport-contain {
    float: left;
    border-radius: 1em;
    margin-right: 2em;
    margin-bottom: 2em;
    margin-top: 2em;
    border-width: 0.6em;
    border-color:blanchedalmond;
    border-style:double;
}
.viewport {
    width: 90%;
}

.clickableimg {
    max-width: 90%;
    border-radius: 1em;
    margin: 2em;
    border-width: 0.6em;
    border-color:blanchedalmond;
    border-style:double;
}

.clickableimg:hover {
    border-color:lightblue;
}